@corteks:registry=https://gitlab.corteks.net/api/v4/packages/npm/
//gitlab.corteks.net/api/v4/packages/npm/:_authToken="${NPM_TOKEN}"
//gitlab.corteks.net/api/v4/projects/81/packages/npm/:_authToken="${NPM_TOKEN}"